# Database Configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=hris_db
POSTGRES_PORT=5321

# Backend Configuration
DB_HOST=postgres
DB_USER=root
DB_PASSWORD=secretpassword
DB_NAME=hris_db
DB_PORT=5432
SERVER_PORT=8081
JWT_SECRET=supersecretkey_change_me
SKIP_SEED=true

# Frontend Configuration
VITE_API_BASE_URL=/api
